<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="main.css" />
  <title></title>
</head>
<body>
  <div id="page">
    <div id="header">
      {% include 'primary.tmpl' %}
    </div>
    <div id="image">
      {content}
    </div>
    <div id="footer">
      {% include 'footer.tmpl' %}
    </div>
  </div>
</body>
</html>